<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sortie &agrave; Marineland</title>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
  
  <div class="images">
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_001.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_002.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_003.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_004.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_005.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_006.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_007.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_008.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_009.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_010.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_011.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_012.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_013.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_014.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_015.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_016.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_017.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_018.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_019.jpg" alt="marineland" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/marineland/Marineland_020.jpg" alt="marineland" />
  </div>

  <div class="focus">
    <div class="container"></div>
    <div class="controls">
      <i class="close fa fa-times-circle"></i>
      <i class="prev fa fa-arrow-left"></i>
      <i class="next fa fa-arrow-right"></i>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="main.js" type="text/javascript"></script>
</body>

</html>
