<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sortie Cheval</title>
  <link rel="stylesheet" href="style.css" type="text/css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>

<body>
  
  <div class="images">
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/SortieCheval/sorticheval_001.jpg" alt="Sortie cheval" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/SortieCheval/sorticheval_002.jpg" alt="Sortie cheval" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/SortieCheval/sorticheval_003.jpg" alt="Sortie cheval" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/SortieCheval/sorticheval_004.jpg" alt="Sortie cheval" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/SortieCheval/sorticheval_005.jpg" alt="Sortie cheval" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/SortieCheval/sorticheval_006.jpg" alt="Sortie cheval" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/SortieCheval/sorticheval_007.jpg" alt="Sortie cheval" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/SortieCheval/sorticheval_008.jpg" alt="Sortie cheval" />
    <img src="http://iutsa.unice.fr/~danial/ext/HTML/website/Album/SortieCheval/sorticheval_009.jpg" alt="Sortie cheval" />
  </div>


  <div class="focus">
    <div class="container"></div>
    <div class="controls">
      <i class="close fa fa-times-circle"></i>
      <i class="prev fa fa-arrow-left"></i>
      <i class="next fa fa-arrow-right"></i>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="main.js" type="text/javascript"></script>
</body>

</html>
