@charset "UTF-8";
/*CSS DOCUMENT*/

body {
font-family:"Arial";

background-color:#000;
font-size:14px;
background-size:100% 100%;
}

#Main {
background-color: black;

color: black;
margin:auto;
margin-top:0px;
margin-bottom:0px;
width:1100px;
}
#Header{
background-image: url("../cover/batik.jpg");
/*background-image:url("../cover/header.jpg");*/
background-repeat:no-repeat;
width:1100px;
height:240px;
border-top: 1px solid;
border-right: 1px solid;
border-left: 1px solid;

}
#Traduit {
padding-top: 210px;
padding-left: 1020px;
}
#Traduit img{
width:30px;
height:20px;

}
#Menu{
	width:1100px;
	height:32px;
	position:relative;
	border:thin none #000;
	background-color: #0033CC;
	background-image: -webkit-linear-gradient(#0033CC, #000099);
	background-image: -moz-linear-gradient(#0033CC, #000099);
	background-image: -o-linear-gradient(#0033CC, #000099);
	background-image: linear-gradient(#0033CC, #000099);
	border-left: 1px solid #5f5f5f;
	border-right: 1px solid #003399;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-align:center;
}
.menu_principal{
text-align:center;
height:30px;
margin-top:0px;
font-family:"Gill Sans";
}
.menu_secondaire{
	display: none;
}

.menu_principal li:hover > ul {
	display: block;
}

.menu_principal {
	background: #efefef; 
	padding: 0px; 
	list-style: none;
	display: inline-table;
	background-color:#0033CC;
}
.menu_principal:after {
	clear: both; 
	display: block;
}
.menu_principal >li {
	float: left;
	background-color:#0033CC;
	background-image: -webkit-linear-gradient(#0033CC, #000099);
	background-image: -moz-linear-gradient(#0033CC, #000099);
	background-image: -o-linear-gradient(#0033CC, #000099);
	background-image: linear-gradient(#0033CC, #000099);
	border-left: 1px solid #5f5f5f;
	border-right: 1px solid #003399;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.menu_principal li:hover {
	-webkit-box-shadow: inset 0 0 10px #003399;
	-moz-box-shadow: inset 0 0 10px #003399;
	box-shadow: inset 0 0 10px #003399;
	background-color: #0033CC;
	background-image: -webkit-linear-gradient(#0066CC, #000099);
	background-image: -moz-linear-gradient(#0066CC, #000099);
	background-image: -o-linear-gradient(#0066CC, #000099);
	background-image: linear-gradient(#0066CC, #000099);
}
	
.menu_principal li a {
	display: block; 
	padding: 8px 15px;
	color:#FFFF00;
	text-decoration: none;
}
.menu_secondaire {
	background: #5f6975; 
	padding: 0;
	position: absolute; top: 100%;
	list-style: none;
}
.menu_secondaire li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
.menu_secondaire li a {
	text-align:left;
	padding: 3px 10px;
	color:#FFFF00;
}	
.menu_secondaire li a:hover {
	background-color: #0033CC;
	background-image: -webkit-linear-gradient(#0066CC, #000099);
	background-image: -moz-linear-gradient(#0066CC, #000099);
	background-image: -o-linear-gradient(#0066CC, #000099);
	background-image: linear-gradient(#0066CC, #000099);
}
.menu_troisieme{
	display: none;
}
.menu_troisieme {
	background: #33383f; 
	padding: 0;
	position: absolute; left: 100%;
	list-style: none;
	margin-top:-24px;
}
.menu_troisieme li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}
.menu_troisieme li a {
	text-align:left;
	padding: 3px 10px;
	color:#FFFF00;
}	
.menu_troisieme li a:hover {
	background-color: #0033CC;
	background-image: -webkit-linear-gradient(#0066CC, #000099);
	background-image: -moz-linear-gradient(#0066CC, #000099);
	background-image: -o-linear-gradient(#0066CC, #000099);
	background-image: linear-gradient(#0066CC, #000099);
}
#banner{
	margin-right: auto;
	margin-left: auto;
	width:1000px;
	height:226px;
	overflow:hidden;
}
#banner img {
	display: none;
}
#banner .is-showing {
	display: inline;
}

#Content{
text-align:center;
}
#Content h1{
background-color: #E8E8E8 ;
text-align:center;
font-family:"Bookman",serif;
text-shadow: 5px 5px 5px #5f6975;
margin-left:35%;
margin-right:35%;
padding: 8px 8px;
width :auto;
border:thin none #000;

-webkit-box-shadow: inset 0 0 10px #686868;
-moz-box-shadow: inset 0 0 10px #686868;
box-shadow: inset 0 0 10px #686868;
}

#Content  .titre_principal{
background-color: #E8E8E8 ;
text-align:center;
margin-left:20%;
margin-right:20%;
padding: 8px 8px;
width :auto;
border:thin none #000;

-webkit-box-shadow: inset 0 0 10px #686868;
-moz-box-shadow: inset 0 0 10px #686868;
box-shadow: inset 0 0 10px #686868;
}
#Content h3{
background-color: #E8E8E8 ;
margin-left:10px;
padding: 8px 8px;
width : auto;
border:thin solid #000;
}
#Content p{
background-color: #E8E8E8 ;
padding: 8px 8px;
margin-left:10px;
margin-right:10px;
border:thin solid #000;
text-align:left;

}

#Content #subcontent{
background-color: #E8E8E8 ;
padding: 20px 20px;
margin-left:10px;
margin-right:10px;
border:thin none #000;
text-align:left;
margin-bottom: 30px;
-webkit-box-shadow: inset 0 0 10px #686868;
-moz-box-shadow: inset 0 0 10px #686868;
box-shadow: inset 0 0 10px #686868;
background-image: -webkit-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -moz-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -o-linear-gradient(#E8E8E8, #A8A8A8);
background-image: linear-gradient(#E8E8E8, #A8A8A8);
}
#Content .sub-content{
background-color: #E8E8E8 ;
padding: 20px 20px;
margin-left:10px;
margin-right:10px;
border:thin none #000;
text-align:left;
margin-bottom: 30px;
-webkit-box-shadow: inset 0 0 10px #686868;
-moz-box-shadow: inset 0 0 10px #686868;
box-shadow: inset 0 0 10px #686868;
background-image: -webkit-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -moz-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -o-linear-gradient(#E8E8E8, #A8A8A8);
background-image: linear-gradient(#E8E8E8, #A8A8A8);
}
#Content .sub-content-email{
background-color: #E8E8E8 ;
padding: 20px 20px;
margin-left:10px;
margin-right:55%;
border:thin none #000;
text-align:left;
margin-bottom: 30px;
-webkit-box-shadow: inset 0 0 10px #686868;
-moz-box-shadow: inset 0 0 10px #686868;
box-shadow: inset 0 0 10px #686868;
background-image: -webkit-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -moz-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -o-linear-gradient(#E8E8E8, #A8A8A8);
background-image: linear-gradient(#E8E8E8, #A8A8A8);
}
#albumcontent{

background-color: #E8E8E8 ;
padding: 20px 50px;
margin-left:150px;
margin-right:150px;
border:thin none #000;
text-align:left;
margin-bottom: 30px;
-webkit-box-shadow: inset 0 0 10px #686868;
-moz-box-shadow: inset 0 0 10px #686868;
box-shadow: inset 0 0 10px #686868;
background-image: -webkit-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -moz-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -o-linear-gradient(#E8E8E8, #A8A8A8);
background-image: linear-gradient(#E8E8E8, #A8A8A8);\ 
 }
#Content #subcontent p{
border:thin solid #000;
background-color: #FFFFFF;
}
#Content #subcontent .PEtable{
border:thin solid #000;
background-color: #FFFFFF;
padding:10px 10px;
margin-left:10px;
margin-right:10px;
}
#Content #column {
	margin-left: 5%;
	text-align:center;
	margin-top:5px;
	height:150px;
	margin-bottom: 50px;

}

#Content #news {
	float:left;
	margin:0;
	width:300px;
   	background-color:#FFFFFF;
   	padding: 8px 15px;
   	margin-right: 5px;
   	-webkit-box-shadow: inset 0 0 10px #686868;
-moz-box-shadow: inset 0 0 10px #686868;
box-shadow: inset 0 0 10px #686868;
background-image: -webkit-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -moz-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -o-linear-gradient(#E8E8E8, #A8A8A8);
background-image: linear-gradient(#E8E8E8, #A8A8A8);
 }
 #Content #citation {
 	float:left;
 	margin: 0;
 	width:300px;
   background-color:#FFFFFF;
   padding: 8px 15px;
   margin-right: 5px;
   -webkit-box-shadow: inset 0 0 10px #686868;
-moz-box-shadow: inset 0 0 10px #686868;
box-shadow: inset 0 0 10px #686868;
background-image: -webkit-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -moz-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -o-linear-gradient(#E8E8E8, #A8A8A8);
background-image: linear-gradient(#E8E8E8, #A8A8A8);
 }
  #Content #calendrier {
 	float:left;
 	margin: 0;
 	width:300px;
   background-color:#FFFFFF;
   padding: 8px 15px;
   -webkit-box-shadow: inset 0 0 10px #686868;
-moz-box-shadow: inset 0 0 10px #686868;
box-shadow: inset 0 0 10px #686868;
background-image: -webkit-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -moz-linear-gradient(#E8E8E8, #A8A8A8);
background-image: -o-linear-gradient(#E8E8E8, #A8A8A8);
background-image: linear-gradient(#E8E8E8, #A8A8A8);
 }
 
#Content #subcontent .PEtable table
{
border-collapse:collapse;
width:550px;
}
#Content #subcontent .PEtable table, th, td
{
border: 1px solid grey;
padding:3px 5px;

}
#Content #subcontent .PEtable table a
{
text-decoration: none;
color:#0033CC;
}
#Content #subcontent #banner1 {
    height: 720px;
    margin-left: 20px;
    margin-right: auto;
    overflow: hidden;
    width: 960px;
}
#Content #subcontent #banner1 img {
    display: none;
}
#Content #subcontent #banner1 .is-showing {
    display: inline;
}
.marine-banner{
	margin-left: 25%;
}
.cheval-banner{
	margin-left: 15%;
}
.act-image {
text-align:center;
}
.sub-content .contact-info{
	background-color: #E8E8E8 ;
	margin-left:150px;
	margin-right:10px;
	padding:10px 8px;
	border:thin solid #000;
	text-align:left;
	height: 100px;

}
.sub-content .contact-pic{
	width: 120px;
	height: 110px;
	float:left;
}

.res-pic {
float:right;
padding-left: 600px;
}


footer {
clear:both;
width:1100px;
height:30px;
text-align:center;
border:thin solid #000;
background-color:#0033CC;
background-image: -webkit-linear-gradient(#0033CC, #000099);
	background-image: -moz-linear-gradient(#0033CC, #000099);
	background-image: -o-linear-gradient(#0033CC, #000099);
	background-image: linear-gradient(#0033CC, #000099);
	border-left: 1px solid #5f5f5f;
	border-right: 1px solid #003399;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
footer p{
font-size:70%;
margin-bottom:5px;
color:#FFFF00;
}
section .wall-comment {
background-color: #E8E8E8 ;
}
